nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-content {
  display: flex;
  justify-content: center;
  /* Centrar contenido horizontalmente */
  align-items: center;
  width: 100%;
}

.cart-container{
  position: relative;
  background-color: transparent ;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin-left: 120px; /* Mueve el carrito a la izquierda */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.cart-container:hover,
.cart-container:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 90px;
  /* Aumentar el espaciado entre los elementos del menú */
}

nav li {
  position: relative;
}

nav a {
  color: #ffffff;
  padding: 10px;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  /* Eliminar subrayado */
}

nav a:hover,
nav a:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  /* Asegurarse de eliminar el subrayado en hover y focus */
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #333333;
  top: 100%;
  left: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1100;
}

nav ul ul li {
  width: 180px;
}

nav ul ul a {
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  /* Eliminar subrayado */
}

nav ul ul a:hover,
nav ul ul a:focus {
  background-color: #555555;
  color: #ffffff;
  text-decoration: none;
  /* Asegurarse de eliminar el subrayado en hover y focus */
}

nav li:hover>ul {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* CSS para el input */
.input-container {
  position: relative;
  width: 250px;
  margin-left: 120px;
  /* Ajustar según el espacio deseado entre el menú y el input */
  display: flex;
  align-items: center;
}

.input-container input[type="text"] {
  font-size: 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
  top: -20px;
  font-size: 16px;
  color: #fff;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
  transform: scaleX(1);
}

.search-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  /* Espacio entre el input y el botón */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.search-button:hover,
.search-button:focus {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}


/* Encabezado */
.intro {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #000;
  height: calc(100vh - 45px);

}

.intro h1 {
  font-size: 3em;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro h2 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 300;
}

.intro::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #faf6f6;
  margin: 20px auto 0;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .intro {
    padding: 30px 10px;
  }

  .intro h1 {
    font-size: 2.5em;
  }

  .intro h2 {
    font-size: 1.2em;
  }
}
